* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}


.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  /* фоновый цвет */
  background: #e0e0e0;
  z-index: 1001;
}

.preloader__image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}


input:focus {
  outline: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  transition: 0.5s;
}
.popup_window {
  position: absolute;
  width: 300px;
  height: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  color: white;
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn{
  text-align: center;
  margin-top: 20px;
  border: 1px solid black;
  padding: 10px 15px;
  width: 50%;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover{
  border-radius: 7px;
  color: red;
}
body .main {
  opacity: 0;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #00416A;
  background: -webkit-gradient(linear, left top, left bottom, from(#00416A), to(#E4E5E6));
  background: linear-gradient(to bottom, #00416A, #E4E5E6);
  transition: 0.4s;
}

body .main .input-cities {
  position: relative;
  width: 430px;
  height: 50px;
  margin: 10% auto 0 auto;
  letter-spacing: 0.6px;
  position: relative;
}

body .main .input-cities #select-cities {
  border: 1px solid #ccc;
  padding: 7px 14px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: transparent;
  width: 100%;
  height: 100%;
  font-size: 18px;
  color: #00416A;
}

.label_active {
  top: -25px !important;
  left: 0 !important;
  color: #00416A !important;
}

.close-button {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  z-index: 50;
  cursor: pointer;
  opacity: 0;
  transition: 0.3s;
}

body .main .input-cities .close-button:after,
body .main .input-cities .close-button:before {
  content: "";
  position: absolute;
  top: 23px;
  left: 16px;
  width: 20px;
  height: 3px;
  background-color: #00416A;
  cursor: pointer;
}

body .main .input-cities .close-button:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

body .main .input-cities .close-button:before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

body .main .input-cities label {
  position: absolute;
  top: 15px;
  left: 15px;
  color: #fff;
}

.button {
  width: 100%;
  max-width: 290px;
  height: 55px;
  background: #00416A;
  display: block;
  text-align: center;
  padding-top: 18px;
  color: #E4E5E6;
  text-decoration: none;
  border-radius: 7px;
  margin: 15px auto;
  cursor: pointer;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
}

.disabled {
  pointer-events: none;
  /* делаем элемент неактивным для взаимодействия */
  cursor: default;
  /*  курсор в виде стрелки */
  color: #888;
  /* цвет текста серый */
}


.button:hover {
  background: #00609d;
}

.dropdown {
  width: 100%;
  background: #fff;
  max-height: 0px;
  overflow: auto;
  transition: 0.5s;
}

.dropdown-lists {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dropdown-lists__list {
  width: 100%;
}

.dropdown-lists__list--select {
  display: none;
}

.dropdown-lists__list--autocomplete {
  display: none;
}

.dropdown-lists__total-line,
.dropdown-lists__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 5px 15px;
  cursor: pointer;
  transition: 0.3s;
}

.dropdown-lists__country {
  font-weight: 700;
  font-size: 18px;
}

.dropdown-lists__count {
  font-style: italic;
}

.dropdown-lists__city--ip {
  color: orange;
}

.dropdown-lists__countryBlock {
  margin: 10px 0;
}

#select-cities~.focus-border:before,
#select-cities~.focus-border:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #00416A;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#select-cities~.focus-border:after {
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
}

#select-cities~.focus-border i:before,
#select-cities~.focus-border i:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 0;
  background-color: #00416A;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#select-cities~.focus-border i:after {
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
}

#select-cities:focus~.focus-border:before,
#select-cities:focus~.focus-border:after {
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#select-cities:focus~.focus-border i:before,
#select-cities:focus~.focus-border i:after {
  height: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/*# sourceMappingURL=style.css.map */

.active-list {
  max-height: 300px;
}

.search_window {
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: -50px;
  padding: 0px 14px;
  line-height: 50px;
  cursor: pointer;
  border-radius: 5px;
  background: white;
  border: 1px solid grey;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.42);
  transition: 0.3s;
  font-weight: 300;
}

.dropdown-lists__total-line:hover {
  color: rebeccapurple;
}

.dropdown-lists__line:hover {
  color: red;
}

.search_window:hover {
  color: red;
}